<%- include('layouts/header') -%>

<div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16 relative">
    <div class="flex items-center justify-center">
        <h1>Page Not Found.</h1>
    </div>
</div>

<%- include('layouts/footer.ejs') %>