<%- include('layouts/header') -%>

    <div class="w-full bg-grey-lightest" style="padding-top: 4rem;">
        <div class="container mx-auto py-8">
            <div class="w-5/6 lg:w-1/2 mx-auto bg-white rounded shadow">
                <div class="py-4 px-8 text-black text-xl border-b border-grey-lighter">Login to access you account</div>
                <form class="py-4 px-8">

                    <div class="hidden error bg-red-700 text-white rounded-md p-3 mb-3"></div>

                    <div class="mb-4">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="email">Email Address</label>
                        <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="email"
                            type="email" placeholder="Your email address">
                    </div>
                    <div class="mb-4">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="password">Password</label>
                        <input class="appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="password"
                            type="password" placeholder="Your secure password">
                        <p class="text-grey text-xs mt-1">At least 6 characters</p>
                    </div>
                    <div class="flex items-center justify-between mt-8">
                        <button class="border hover:bg-grey-500 py-2 px-4 rounded-md"
                            type="submit">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
            <p class="text-center my-4">
                <a href="/register" class="text-grey-dark text-sm no-underline hover:text-grey-darker">Don't have an
                    account</a>
            </p>
        </div>
    </div>

    <script>
        const form = document.querySelector('form')

        const email = document.querySelector('#email')
        const password = document.querySelector('#password')

        const displayError = document.querySelector('.error')

        form.addEventListener('submit', async (e) => {
            e.preventDefault()
            displayError.textContent = ''
            try {
                const res = await fetch('/api/login', {
                    method: 'POST',
                    body: JSON.stringify({
                        email: email.value,
                        password: password.value
                    }),
                    headers: { 'Content-Type': 'application/json' }
                })
                const data = await res.json()
                if (res.status === 400 || res.status === 401) {
                    displayError.classList.remove('hidden');
                    displayError.textContent = `${data.message}. ${data.error ? data.error : ''}`;
                    setTimeout(() => {
                        displayError.classList.add('hidden');
                    }, 5000);
                    return;
                }
                
                location.assign('/')
            } catch (err) {
                console.error("Error: ", err)

                displayError.classList.remove('hidden');
                displayError.textContent = `${data.message}. ${data.error ? data.error : ''}`
                setTimeout(() => {
                    displayError.classList.add('hidden');
                }, 5000);
            }

        })
    </script>

    <%- include('layouts/footer') -%>